{% extends "base.html" %}
{% block content %}
  <h2>All Blog Posts</h2>
  {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'blog_create' %}">+ New Post</a>
  {% endif %}
  <ul>
    {% for post in posts %}
      <li>
        <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h3>
        <p>By {{ post.author.username }} | {{ post.created_at|date:"M d, Y H:i" }}</p>
      </li>
    {% empty %}
      <p>No blog posts yet.</p>
    {% endfor %}
  </ul>
{% endblock %}
